<div class="sidebar-logo">
  <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
  <h1>Sintad Blog</h1>
</div>
<ul class="aside-menu" nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineIndent]="32"
  [nzInlineCollapsed]="isCollapsed">
  <li class="my-8" nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Artículos' : ''"
    nzMatchRouter [routerLink]="'articles'">
    <nz-icon [nzType]="'custom:menu'" />
    <a *ngIf="!isCollapsed" class="ml-5">Artículos</a>
    <span *ngIf="isCollapsed">Artículos</span>
  </li>
  <li class="my-8" nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Artículos populares' : ''"
    nzMatchRouter [routerLink]="'popular'">
    <nz-icon [nzType]="'star'" />
    <a *ngIf="!isCollapsed" class="ml-5">Artículos populares</a>
    <span *ngIf="isCollapsed">Artículos populares</span>
  </li>
  <li nz-submenu nzOpen [nzTitle]="'Gestión'" [nzIcon]="'dashboard'">
    <ul>
      <li nz-menu-item nzMatchRouter [routerLink]="'my-articles'">
        <a>Mis artículos</a>
      </li>
    </ul>
  </li>
  <li nz-menu-divider></li>
  <li nz-submenu nzOpen [nzTitle]="'Mi cuenta'" [nzIcon]="'custom:account'">
    <ul>
      <li nz-menu-item (click)="logout()">
        <a>Cerrar sesión</a>
      </li>
    </ul>
  </li>
</ul>