<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <app-aside [isCollapsed]="isCollapsed" />
  </nz-sider>
  <nz-layout>
    <app-header [isCollapsed]="isCollapsed" (isCollapsedChange)="handleCollapseChange($event)" />
    <nz-content>
      <div cdkScrollable class="inner-content content-scroll">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <app-footer />
  </nz-layout>
</nz-layout>