.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;

  .login-container {
    max-width: 360px;
    width: 100%;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 0px;
    box-shadow: 0;

    .login-title {
      text-align: left;
      margin-bottom: 24px;
      font-size: 1.8rem;
      font-weight: 900;
      line-height: 34.75px;
      color: rgba(0, 0, 0, 0.85);
    }

    .alert-login {
      margin-top: 20px;
    }

    .login-form-button {
      width: 100%;
    }
  }
}